// Loader configuration
$loaderSpinnerColor: #f1f1f1;
$loaderSpinnerPosition: unquote("right");
$loaderTextColor: #f1f1f1;
$loaderTextFontWeight: 300;
$loaderTextSize: 25px;
$loaderSpinnerSize: 25px;

// Sidebar configuration
$sidebarWidth: 250px;
$sidebarBackground: #fbfbfb;